*{
    margin:0;
    padding:0;
    box-sizing : border-box;
}

body{
    padding: 330px 0;
}

h1{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 30px;
}

h1 span:nth-child(1){
    color : #4285f4;
}

h1 span:nth-child(2){
    color : #ea4335;
}

h1 span:nth-child(3){
    color : #fbbc05
}

h1 span:nth-child(4){
    color : #4285f4;
}

h1 span:nth-child(5){
    color : #34a853;
}

h1 span:nth-child(6){
    color : #ea4335;
}

.search-bar {
    width : 600px;
}
